backups/
psd/
venv/
__pycache__/
*.tcl
*.tcl*
*.bat
*.spec
main*
win1*
test*
buttonsoverlapping*
setup.py
/OutpostSHE.txt
/starfield_she_support.ini
/savelist.json
build/
dist/
starfield_she.build/
starfield_she.dist/
starfield_she.spec

